@charset "utf-8";

/*横幅が550px以下の以下のメディアクエリ*/
@media (max-width: 550px) {

  /*ヘッダーの文字の位置を調整*/
  nav ul {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
  }

  /*背景の男性を画面の中央に移動*/
  #top {
    background-position: -500px 0%;
  }
  
  /*タイトルの文字の位置を調整*/
  #top .top_wrap .top_title {
    margin-bottom: 0;
    position: relative;
    top: 200px;
    margin-right: 10px;
  }
  
  /*新春割引キャンペーンの変更*/
  .service_right h3 {
    font-size: 23px;
    margin: 10px;
  }

  /*画像の調節*/
  .service_left img {
    border: none;
    padding: 0;
  }

  /*「新春割引キャンペーンの調整」*/
  .service_right .requirement_title {
    line-height: 1.3;
    font-size: 18px;
    margin-left: 10px;
  }

  /*割引条件の調整*/
  .service_right .requirement {
    line-height: 1.2;
    margin: 5px 0 0 15px;
    font-size: 17px
  }
  
}

/*横幅が700px以上のメディアクエリ*/
@media (min-width: 700px) { 

  /*タイトルの改行の設定*/
  #top .top_wrap .top_title .br_sp {
    display: none;
  }

  /*各セクションタイトルの調整*/
  .section_title {
    text-align: center;
  }

}

/*横幅が1090px以下のメディアクエリ*/
@media (max-width: 1090px) {
  .top_wrap h1 {
    white-space: nowrap;
    margin-right: 0;
  }
}

/*横幅が1090px以上のメディアクエリ*/
@media (min-width: 1091px) {
  .top_wrap h1 {
    white-space: nowrap;
    margin-right: 80px;
  }
}

